@model FrontEnd.Models.CategoriaViewModel

@{
    ViewData["Title"] = "Agregar";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Registrar Nueva Categoría</h4>
                <p class="card-title-desc">
                    Complete todos los campos para añadir una Categoría.
                </p>

                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row mb-3">
                        <label asp-for="NombreCategoria" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="NombreCategoria" class="form-control" />
                            <span asp-validation-for="NombreCategoria" class="text-danger"></span>
                        </div>
                    </div>

                                        <div class="mb-0">
                        <input type="submit" value="Registrar Categoría" class="btn btn-dark" />
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>



<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

