@model FrontEnd.Models.CategoriaViewModel

@{
    ViewData["Title"] = "Eliminar una categoria";
}

@* Dando Formato*@
    <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Eliminar una categoria </h4>
                <p class="card-title-desc">
                    A continuación se muestran algunos detalles de la categoria a eliminar:                     
                </p>

                <div class="table-responsive">
                    <table class="table table-nowrap mb-0">
                        <thead>
                            <tr>
                                <th style="width: 50%;">Aspecto</th>
                                <th>Detalle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.NombreCategoria)</td>
                                <td>
                                    <a href="#" id="inline-username">@Html.DisplayFor(model => model.NombreCategoria)</a>
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>

                <form asp-action="Delete">
                    @Html.HiddenFor(Model=>Model.IdCategoria)
                    <input type="submit" value="Eliminar Categoria" class="btn btn-danger" />
                    <a asp-action="Index">Volver a la Lista</a>
                </form>

            </div>
        </div>
    </div> <!-- end col -->
</div>






