@model FrontEnd.Models.CategoriaViewModel

@{
    ViewData["Title"] = "Editar";
}


<h4>Actualización de Categoria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(Model=>Model.IdCategoria)
            <div class="form-group">
                <label asp-for="NombreCategoria" class="control-label"></label>
                <input asp-for="NombreCategoria" class="form-control" />
                <span asp-validation-for="NombreCategoria" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a Categorias</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
