@model FrontEnd.Models.ProveedorViewModel

@{
    ViewData["Title"] = "Agregar";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Registrar un Nuevo Proovedor</h4>
                <p class="card-title-desc">
                    Complete todos los campos para añadir un nuevo Proveedor.
                </p>
                <form asp-action="Create" enctype="multipart/form-data">
                    <div class="row mb-3">
                        <label asp-for="NombreProveedor" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="NombreProveedor" class="form-control" />
                            <span asp-validation-for="NombreProveedor" class="text-danger"></span>
                        </div>

                    </div>
                    <!-- end row -->
                    <div class="row mb-3">
                        <label asp-for="Telefono" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="Telefono" class="form-control" />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>

                    </div>
                    <!-- end row -->
                    <div class="row mb-3">
                        <label asp-for="CedulaJuridica" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="CedulaJuridica" class="form-control" />
                            <span asp-validation-for="CedulaJuridica" class="text-danger"></span>
                        </div>

                    </div>
                    <!-- end row -->
                    <div class="row mb-3">
                        <label asp-for="Direccion" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="Direccion" class="form-control" />
                            <span asp-validation-for="Direccion" class="text-danger"></span>
                        </div>

                    </div>
                    <!-- end row -->
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Registrar Proveedor" class="btn btn-danger btn-lg waves-effect waves-light" />
                    </div>
                    <!-- end row -->
                </form>
            </div>
        </div>
    </div> <!-- end col -->
</div>
<div>
    <a asp-action="Index">Volver a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Registrar un Nuevo Producto</h4>
                <p class="card-title-desc">
                    Complete todos los campos para añadir un nuevo producto al inventario.
                </p>
                <form asp-action="Create" enctype="multipart/form-data">
                    <div class="row mb-3">
                        <label asp-for="NombreProveedor" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="NombreProveedor" class="form-control" />
                            <span asp-validation-for="NombreProveedor" class="text-danger"></span>
                        </div>

                    </div>
                    <!-- end row -->
                    <div class="row mb-3">
                        <label asp-for="Telefono" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="Telefono" class="form-control" />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>

                    </div>
                    <!-- end row -->
                    <div class="row mb-3">
                        <label asp-for="CedulaJuridica" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="CedulaJuridica" class="form-control" />
                            <span asp-validation-for="CedulaJuridica" class="text-danger"></span>
                        </div>

                    </div>
                    <!-- end row -->
                    <div class="row mb-3">
                        <label asp-for="Direccion" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="Direccion" class="form-control" />
                            <span asp-validation-for="Direccion" class="text-danger"></span>
                        </div>

                    </div>
                    <!-- end row -->
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Registrar Producto" class="btn btn-danger btn-lg waves-effect waves-light" />
                    </div>
                    <!-- end row -->
                </form>
            </div>
        </div>
    </div> <!-- end col -->
</div>*@