@model FrontEnd.Models.ProveedorViewModel

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<hr />
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Editar un Proveedor</h4>
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @Html.HiddenFor(Model=>Model.IdProveedor)
                    <div class="row mb-3">
                        <label asp-for="NombreProveedor" class="col-sm-2 col-form-label"></label>
                        <input asp-for="NombreProveedor" class="form-control" />
                        <span asp-validation-for="NombreProveedor" class="text-danger"></span>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="Telefono" class="col-sm-2 col-form-label"></label>
                        <input asp-for="Telefono" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="CedulaJuridica" class="col-sm-2 col-form-label"></label>
                        <input asp-for="CedulaJuridica" class="form-control" />
                        <span asp-validation-for="CedulaJuridica" class="text-danger"></span>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="Direccion" class="col-sm-2 col-form-label"></label>
                        <input asp-for="Direccion" class="form-control" />
                        <span asp-validation-for="Direccion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar Cambios" class="btn btn-danger" />
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<div>
    <a asp-action="Index">Volver a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

