@model FrontEnd.Models.PedidoViewModel

@{
    ViewData["Title"] = "Registrar Pedido";
    
}



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Registrar un Nuevo Pedido</h4>
                <p class="card-title-desc">
                    Complete todos los campos para añadir un nuevo pedido.
                </p>
                <div class="row mb-3">
                    <label class="control-label">Solicitante:<u>@Context.Session.GetString("nombre")</u></label>
                </div>


                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row mb-3">
                        <label asp-for="NumeroPedido" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="NumeroPedido" value="@ViewBag.NumPedidoVB" class="form-control" readonly/>
                            <span asp-validation-for="NumeroPedido" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="IdProducto" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(model => model.IdProducto, new SelectList(Model.Productos, "IdProducto", "NombreProducto"), "--Seleccione--", new { @class = "form-select" })
                            <span asp-validation-for="IdProducto" class="text-danger"></span>
                        </div>
                    </div>

                    @*<div class="row mb-3">
                <label asp-for="IdEstado" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(model => model.IdEstado, new SelectList(Model.Estados,"IdEstado","DescripcionEstado"),"--Seleccione--", new{@class="form-select"})
                <span asp-validation-for="IdEstado" class="text-danger"></span>
                </div>
            </div>*@




                    <div class="row mb-3">
                        <label asp-for="CantidadProducto" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="CantidadProducto" class="form-control" type="number" />
                            <span asp-validation-for="CantidadProducto" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="mb-0">
                        <input type="submit" value="Confirmar Pedido de Producto" class="btn btn-dark" />
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<div>
    <a asp-action="Index2">Regresar al Listado de Pedidos</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
