@model FrontEnd.Models.UsuarioViewModel

<h1>Busqueda de usuarios registrados en Hacienda</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Encontrado">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Cedula" class="control-label"></label>
                <input asp-for="Cedula" placeholder="Ingresa el número de cédula" class="form-control" required/>
                <span asp-validation-for="Cedula" class="text-danger"></span>

            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


