@model FrontEnd.Models.UsuarioViewModel

@{
    ViewData["Title"] = "Eliminar";
}


<h3>Está seguro que quiere eliminar el usuario?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.NombreUsuario)
            @Html.DisplayFor(model => model.Nombre)

        </dt>
    </dl>
    
    <form asp-action="Delete">
        @Html.HiddenFor(Model=>Model.IdUsuario)
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a la lista de usuarios</a>
    </form>
</div>
